<h1>Help</h1>

<p>Below are some Frequently Asked Questions (FAQs) that might offer some help for a question or concern you may be having.  </p>

<p>If you don't find what you need here, don't hesitate to contact Rachel Arnold,
  FMES Volunteer Coordinator, by phone or email.</p>

<p>Rachel Arnold<br>
503.760.8220 x211<br>
rarnold@fmes.org</p>
<hr>
<h2>FAQs</h2>

<h3>Q: I keep getting an error saying there is a problem with the time that I am entering but I have filled out all of the required fields!</h3>
<p> A: Each field is required.  Check to see if each of these are true: <br>
<ul>
  <li>Dates can be today or in the past but not in the future.</li>
  <li>You must choose an activity AND detail to log hours.</li>
  <li>You can't submit 0 hours.</li>
</ul>

<h3>Q: Can I only log HOURS?  What if I volunteer for 30 minutes?</h3>
<p> A:  All of your time can be logged in decimal increments.
  If you shared 30 minutes of your time, you can log .5 hours.

<h3>Q: None of the activities/details seem to match the activity I participated in.  What should I select?</h3>
<p> A:  If you are unable to find a good fit for your time, use the "Other" activity and detail.  You may also contact
  Rachel so that she can either add an activity or direct you to the best match.</p>

<h3>Q: My family information is inaccurate.  Where is this information coming from and what should I do?</h3>
<p> A:  All of the family and student information was added to the Fair Share application from RenWeb.
  If you see inaccurate information, make sure to update it here but also review your RenWeb profile for accuracy.
