Hello <%= @user.full_name %>,

<p>
  Welcome to Franciscan Montessori Earth School's community sharing.
  Your Fair Share account is set up and ready to use. In fact, you already have earned an hour for creating your login.
</p>
<p>
  Come back to <%= link_to "FMES Fair Share", root_url %> often throughout the year to share your community efforts, identify your interests and see participation opportunities.
</p>
<p>
  For questions or concerns, don't hesitate to contact me.
<br>
  Sincerely,
  Rachel
</p>
<br>
Rachel D. Arnold<br>
Volunteer Coordinator<br>
503.760.8220 x211<br>
rarnold@fmes.org<br>
