Hello <%= @user.first_name %>,

<p>
  Thank you for logging <%= pluralize(@hour.quantity, 'hour') %> for
  <%= @hour.member.full_name %>. Your family's presence and participation at FMES makes a remarkable difference to our community.
</p>
<br>
<p>
   Sincerely,<br>
   Rachel
</p>
<br>
Rachel D. Arnold<br>
Volunteer Coordinator<br>
503.760.8220 x211<br>
rarnold@fmes.org
