#family-member-form {
  display: none;
}

#family-student-form {
  display: none;
}

.family-list-row {
  border-top: solid;
  border-width: .75px;
  border-color: #9099a3;
  padding: .5em;
  margin-left: .05em;
}
