.family-member-area {
  color: brown;
  font-size: xx-large;
  margin-bottom: 25px;
}

.family-area {
  float: left;
  color: brown;
}

.hours-display-area {
  border: 1px solid black;
  font-size: xx-large;
  text-align: center;
  float: right;
  color: yellowgreen;
  width: 250px;
  height: 270px;
}

.green {
  color: yellowgreen;
}

.add-hours-button {
  float: center;
}

.add-hours-form {
  float: right;
}

.hours-log {
  margin-top: 10px;
}

.form-control {
  margin-right: 10px;
}
