.family-area {
  padding: 1px 20px;
  border: 1px solid black;
  float: left;
  height: 270px;
  width: 195px;
}

.member-area {
  float:left;
}

.activity-area {
  margin: 20px 10px;
  float: right;
  border: 1px solid black;
}
