.navbar-brand {
  font-size: 35px;
  margin-top: 10px;
}

.navbar-nav > li > a {
  font-size: 20px;
}

.navbar-default {
  border-color: yellowgreen;
}

.navbar-default .navbar-toggle {
  border-color: #4A2500;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #4A2500;
}

.navbar-toggle {
  margin-top: 18px;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    margin-top: 12px;
  }
}
